.example-radio-group {
    display: flex;
    flex-direction: column;
    margin: 15px 0;
  }
  
  .mat-radio-button ~ .mat-radio-button {
    margin-left: 16px;
  }
  
  // mat-form-field{
  //   margin-bottom: 10px;
  // }
  
  // mat-error{
  //   margin-bottom: 10px;
  // }
  
  .padding-inputs {
    padding-bottom: 10px;
  }
  
  @media (max-width: 1024px) {
    .padding-inputs {
      padding-top: 5px;
    }
  }
  