<h1 mat-dialog-title>Customer Validated - "<strong>{{customerForm.firstName}} {{customerForm.lastName}}"</strong></h1>
<div mat-dialog-content>
    <div class="row">
        <div class="col">
            Address Home
        </div>
        <div class="col">
            {{ customerForm.addressHome}}
        </div>
    </div>
    <div class="row">
        <div class="col">
            Postal Code
        </div>
        <div class="col">
            {{customerForm.postalCode}}
        </div>
    </div>
    <div class="p-divider">
        <mat-divider></mat-divider>
    </div>

    <div class="row">
        <div class="col">
            Mobile Phone
        </div>
        <div class="col">
            {{customerForm.cellPhone}}
        </div>
    </div>
    <div  class="row">
        <div class="col" *ngIf="customerForm.homePhone!=''">
            Home Phone
        </div>
        <div class="col" *ngIf="customerForm.homePhone!=''">
            {{customerForm.homePhone}}
        </div>
    </div>
    <div class="p-divider">
        <mat-divider></mat-divider>
    </div>

    <div class="row">
        <div class="col">
            Profession
        </div>
        <div class="col">
            {{ customerForm.profession}}
        </div>
    </div>
    <div class="row">
        <div class="col">
            Income
        </div>
        <div class="col">
            {{customerForm.income}}
        </div>
    </div>
</div>
<div class="p-20">
    <div mat-dialog-actions>
        <button class="button-blue" mat-button mat-dialog-close (click)="close()">Finish</button>
    </div>
</div>