.button-blue {
    background-color: #3f51b5;
    color: white;
}

row {
    padding: 5px;
}

col {
    padding: 14px;
}

.p-20 {
    padding: 0px 20px 0px 0px;
}

.p-divider {
    padding-top: 10px;
    padding-bottom: 10px;
}
